<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question_for_coach" placeholder="i.e. what time is it?">
  <input type="submit" value="Go on!" class="btn btn-primary">
</form>

